@model IEnumerable<PortalEDU.Models.Calificaciones>


@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Alumno.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PrimerTrimestre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SegundoTrimestre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TercerTrimestre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CuartoTrimestre)
    </td>
    <td>
        <a eval="editCourse($this, data)" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        @*<a asp-action="Details" asp-route-id="@item.Calificaciones.Id">Details</a> |*@
        <a eval="deleteCourse($this, data)" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>
}

