@model PortalEDU.Models.ViewModels.SalaVM



@{ ViewData["Title"] = "Sala de Reuniones"; }
<br />
<br />
<br />
<br />

<section class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="container text-center">
        <h1 class="border">Foro de discusión</h1>
    </div>

    @*<partial name="_SearchPartial" for="Search" />*@

    @*@if (User.IsInRole(WebConstants.BloggerRole))
        {*@
    <a asp-action="Create" class="btn btn-outline-success mx-3">
        Crear un foro <i class="fa fa-pen-alt"></i>
    </a>@*}*@
</section>


@if (Model.SalaEnVM != null)
{
    <section class="card-deck d-flex flex-wrap">
        @foreach (var sala in Model.ListSala)
        {
            <a asp-action="@nameof(PortalEDU.WEB.Areas.Admin.Controllers.SalasController.Details)"
               asp-route-id="@sala.Id"
               asp-route-title="@sala.Titulo"
               class="article-card-link d-flex col-sm-6 col-lg-4 text-decoration-none">
                <div class="article-card card border-success m-2">
                    <div class="card-body">
                        <h4 class="card-title">@sala.Titulo</h4>
                        <h6 class="card-subtitle text-muted mb-2">Escrito por: @sala.Responsable.Nombre</h6>
                    </div>
                    <div class="card-footer">@sala.FechaPublicacion.ToLocalTime()</div>
                </div>
            </a>}
    </section> }
else
{
    <h4>No hay ninguna reunion</h4>}

@*<partial name="_PaginationPartial" for="Pagination" />*@